*{
  margin: 0px;
  padding: 0px;
  font-family: "Pacifico", cursive;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(247, 247, 194);
  padding: 5px;
  margin: auto;
}

.link {
  position: relative;
  text-decoration: none;
  font-family: "Pacifico", cursive; /* google font*/
  color: gray;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.link:after {
  content: "";
  position: absolute;
  background-color: rgb(193, 193, 243);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link:hover {
  color: black;
}

.link:hover:after {
  width: 100%;
}

.bee {
  height: 65px;
}

.cart {
  height: 34px;
  transition: 0.5s ease;
}
.link:hover .cart {
  opacity: 0.3;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  font-size: 15px;
  padding: 20 px;
}

.quote {
  padding: 40px;
  text-align: center;
  font-size: 37px;
  font-family: "Righteous", cursive;
  color: rgba(63, 65, 65, 0.918);
  text-shadow: -2px 1px 0 rgb(233, 149, 149);
  background-color: rgb(224, 242, 250);
}

.para {
  background: url(/public/images/sunflowers.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 470px;
}

.aboutus {
  margin: 100px;
  font-family: cursive;
  font-size: 30px;
}


.social {
  margin-bottom: -20px;
}

.logo {
  display: inline-block;
  color: gray;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: rgba(194, 247, 197, 0.596);
  padding: 0px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-align: center;
}

.bee2 {
  height: 50px;
  padding: -20px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.maincon {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.contain1 {
  position: relative;
  width: 100%;
}

.contain1:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(247, 247, 194);
}

.description {
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 170px;
  width: 155px;
  padding-top: 30px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* this is the product images */
.nbook {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 30px;
}

.price {
  margin: 10px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-align: center;
}

button {
  background-color: rgb(241, 148, 148);
  padding: 5px;
  border-radius: 10px;
}

.categ {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.example {
  display: flex;
  justify-content: center;
}

.fig {
  height: 400px;
  width: 440px;
  padding: 30px;
}

.example2 {
  display: flex;
  justify-content: center;
}

.fig2 {
  height: 400px;
  width: 470px;
  padding: 30px;
}

.up {
  padding: 20px;
}
.arrowup {
  height: 70px;
  display: flex;
  justify-content: center;
}
.headup {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.slide-container{
  height: 60px;
}

.carousel.slider-wrapper{
  width: 50%;
}

.para1 {
  background: url(public/images/para1.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para2 {
  background: url(public/images/para2.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para3 {
  background: url(public/images/para7.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 430px;
}
.para4 {
  background: url(public/images/parasun.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 430px;
}
.para5 {
  background: url(public/images/paragv.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para6 {
  background: url(public/images/para6.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
}