* {
  margin: 0px;
  padding: 0px;
  font-family: "Pacifico", cursive;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f7c2;
  padding: 5px;
  margin: auto;
}

.link {
  position: relative;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  /* google font*/
  color: gray;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.link:after {
  content: "";
  position: absolute;
  background-color: #c1c1f3;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link:hover {
  color: black;
}

.link:hover:after {
  width: 100%;
}

.bee {
  height: 65px;
}

.cart {
  height: 34px;
  transition: 0.5s ease;
}

.link:hover .cart {
  opacity: 0.3;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  padding: 20 px;
}

.quote {
  padding: 40px;
  text-align: center;
  font-size: 30px;
  font-family: "Righteous", cursive;
  color: rgba(63, 65, 65, 0.918);
  text-shadow: -2px 1px 0 #e99595;
  
}

.para {
  background: url(/public/images/sunflowers.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 370px;
}

.aboutus {
  margin: 100px;
  font-family: Bradley Hand, cursive;
  font-size: 20px;
  text-align: center;
}

.social {
  margin-bottom: -20px;
}

.logo {
  display: inline-block;
  color: gray;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: rgba(194, 247, 197, 0.596);
  padding: 0px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-align: center;
}

.bee2 {
  height: 50px;
  padding: -20px;
  margin-top: 0px;
  margin-bottom: -20px;
}

.maincon {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.contain1 {
  position: relative;
  width: 100%;
}

.contain1:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f7f7c2;
}

.description {
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 170px;
  width: 155px;
  padding-top: 30px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* this is the product images */
.nbook {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 30px;
}

.price {
  margin: 10px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-align: center;
}

button {
  background-color: #f19494;
  padding: 5px;
  border-radius: 10px;
}

.categ {
  font-family: "Pacifico", cursive;
  text-align: center;
}

.example {
  display: flex;
  justify-content: center;
}

.fig {
  height: 400px;
  width: 440px;
  padding: 30px;
}

.example2 {
  display: flex;
  justify-content: center;
}

.fig2 {
  height: 400px;
  width: 470px;
  padding: 30px;
}

.up {
  padding: 20px;
}

.arrowup {
  height: 70px;
  display: flex;
  justify-content: center;
}

.headup {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.para1 {
  background: url(/public/images/para1.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para2 {
  background: url(/public/images/para2.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para3 {
  background: url(/public/images/para7.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 430px;
}
.para4 {
  background: url(/public/images/parasun.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 430px;
}
.para5 {
  background: url(/public/images/paragv.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 150px;
}
.para6 {
  background: url(/public/images/para6.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
}

.contact {
  text-align: center;
  background-color: rgb(193, 193, 243);
  width: 500px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

form {
  margin: 30px;
  font-size: 20px;
  text-align: left;
  
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
  width: 100%;
  padding: 40px 10px;
  padding-top: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formbutton {
  margin-bottom: 30px;
}
.formbutton:hover {
  background-color: rgb(145, 236, 209);
}
button:hover {
  background-color: rgb(236, 235, 162);
}

/*Tablet View*/
@media only screen and (max-width: 768px) {
  .fig {
    height: 200px;
    width: 210px;
  }
  .fig2 {
    height: 200px;
    width: 210px;
  }
}

@media only screen and (max-width: 1024px) {
  .fig {
    height: 300px;
    width: 310px;
  }
  .fig2 {
    height: 300px;
    width: 310px;
  }
}

/* Mobile View*/
@media only screen and (max-width: 375px) {
  .fig {
    height: 130px;
    width: 140px;
    padding: 7px;
  }
  .fig2 {
    height: 200px;
    width: 210px;
  }
  .nbook {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 10px;
  }

  button {
    background-color: rgb(241, 148, 148);
    padding: 3px;
    border-radius: 7px;
  }
}

/*# sourceMappingURL=app.css.map */
